<h1>Lagerhaltungskosten hinzufügen</h1>

<%= form_for(@storagecosts) do |f| %>

    <div class="field">
      <%= f.label "Produkt" %>
      <br/>
      <%= f.collection_select :product_id, Product.find(:all), :id, :productname %>
    </div>

    <div class="field">
      <%= f.label "Lagerhaltungskostenwert" %>
      <br/>
      <%= f.text_field :storagecostvalue %>
    </div>

    <div class="actions">
      <%= f.submit "Lagerhaltungskosten speichern" %>
    </div>

<% end %>

<%= link_to 'Änderungen verwerfen', problems_path%>

