<h1>Produktionskapazität hinzufügen</h1>

<%= form_for(@prodcaps) do |f| %>

    <div class="field">
      <%= f.label "Segment" %>
      <br/>
      <%= f.collection_select :segment_id, Segment.find(:all), :id, :segmentname %>
    </div>

    <div class="field">
      <%= f.label "Zeitpunkt" %>
      <br/>
      <%= f.collection_select :timestep_id, Timestep.find(:all), :id, :stepnumber %>
    </div>


    <div class="field">
      <%= f.label "Produktionskapazitätswert" %>
      <br/>
      <%= f.text_field :prodcapvalue %>
    </div>

    <div class="actions">
      <%= f.submit "Produktionskapazität speichern" %>
    </div>

<% end %>

<%= link_to 'Änderungen verwerfen', problems_path%>

