<% if signed_in? %>
    <%if @problem.errors.any?%>
        <div id="error_explanation">
          <h2><%= @problem.errors.count %>
            Fehler verhindert die Erstellung des Optimierungsproblems!</h2>
           <p>Bitte ändern Sie die Eingabe entsprechend der Fehlermeldungen:</p>
        <ul>
        <% @problem.errors.full_messages.each do |msg| %>
          <li><%= msg%></li>
          <% end %>
        </ul>
      </div>
    <% end %>

     <h1>Neues Problem benennen</h1>
     <% form_for(@problem) do |f| %>
        <div class="field">
          <%= f.label "Problemname"%><br/>
          <%= f.text_field :problemname%>
        </div>
        <div class="field">
          <%= f.label "Benutzer"%><br/>
          <%= f.collection_select(:user_id, User.all, :id, :name)%>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
     <%end%>



<% else %>
<%= render 'shared/redirect_to_signin' %>
<% end %>