<% if signed_in? %>
     <h1>Neues Problem benennen</h1>
     <% form_for(@problem) do |f| %>
        <div class="field">
          <%= f.label "Problemname"%><br/>
          <%= f.text_field :problemname%>
        </div>
        <div class="field">
          <%= f.label "Benutzer"%><br/>
          <%= f.collection_select(:user_id, User.all, :id, :name)%>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
     <%end%>



<% else %>
<%= render 'shared/redirect_to_signin' %>
<% end %>