<%# Struktur übernommen aus "Ruby on Rails Tutorial" von Michael Hartl%>

<h1>Optimierungsproblem konfigurieren</h1>

<%= link_to 'Planungsintervall', timesteps_path%> <br/>
<%= link_to 'Produkte', products_path%>           <br/>
<%= link_to 'Vorlaufperioden', preperiods_path%>   <br/>
<%= link_to 'Segmente', segments_path%>                 <br/>
<%= link_to 'Produktionskapazitäten', prodcaps_path%>    <br/>
<%= link_to 'Nachfrage', demands_path%>                   <br/>
<%= link_to 'Kapazitätsbelastung', capusages_path%>         <br/>
<%= link_to 'Lagerhaltungskosten', storagecosts_path%>       <br/>
<%= link_to 'Maximale Zusatzkapazität', maxaddcaps_path%>      <br/>
<%= link_to 'Kosten für Zusatzkapazität', addcapcosts_path%>    <br/>
