<h1>Nachfrage hinzufügen</h1>

<%= form_for(@demands) do |f| %>

    <div class="field">
      <%= f.label "Produkt" %>
      <br/>
      <%= f.collection_select :product_id, Product.find(:all), :id, :productname %>
    </div>

    <div class="field">
      <%= f.label "Zeitpunkt" %>
      <br/>
      <%= f.collection_select :timestep_id, Timestep.find(:all), :id, :stepnumber %>
    </div>

    <div class="field">
      <%= f.label "Nachfragewert" %>
      <br/>
      <%= f.text_field :demandvalue %>
    </div>

    <div class="actions">
      <%= f.submit "Nachfrage speichern" %>
    </div>

<% end %>